@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a, a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
}

a:active {
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  overflow-x: hidden;
}

/*--------------------*/
/*MAKE GENERAL FONT FAMILY FOR BODY*/
body {
  font-family: "Titillium Web", sans-serif;
}

/*MAKE GENERAL PROPERTY FOR BODY*/
.btn {
  display: block;
  /*center alignment*/
  max-width: 300px;
  /*center alignment*/
  margin: 0 auto;
  /*center alignment*/
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 29px 84px;
  transition-duration: 0.3s;
}
.btn:active {
  box-shadow: none;
}

/*for the same titles in all articles*/
.title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  word-spacing: 15px;
}
.title::after {
  content: "";
  display: block;
  width: 9%;
  height: 4px;
  background-color: #c8d9e5;
  margin: 18px auto 20px;
}

.tagline {
  font-size: 18px;
  max-width: 607px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5em;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #87509c;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 58px;
  margin-bottom: 144px;
}

.logo {
  display: inline-block;
  width: 120px;
  height: 40px;
  background: url("../img/nav/logo.png") 0 0 no-repeat;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-left: 4px;
  transition-duration: 0.3s;
}
.nav__item:last-child {
  margin-left: 0;
}
.nav__item:hover {
  border-radius: 3px;
  background-color: #643a79;
}

.nav__link {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 17px;
  letter-spacing: 1.1px;
}

.header h1 {
  color: #fff;
  font-size: 42.16px;
  text-align: center;
  letter-spacing: -0.5px;
  margin-bottom: 55px;
}

.header__button {
  padding-bottom: 145px;
}

.header__btn {
  color: #fff;
  background-color: #eb7d4b;
  box-shadow: 0 5px 0 #c86a40;
}

.services {
  padding-bottom: 119px;
  background-color: #17c2a4;
}

.services__title {
  color: #fff;
  padding-top: 119px;
}

.services__tagline {
  margin-bottom: 76px;
}

.services__flex-row {
  padding-bottom: 139px;
}

.services__flex-item {
  flex: 0 1 24%;
  text-align: center;
  padding: 0 15px;
}

.services__image {
  width: 100%;
  height: 100%;
}
.services__image img {
  max-width: 100%;
  max-height: 100%;
}

.services__subtitle, .our-team__subtitle {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
}

.paragraph {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  padding: 0 10px;
  overflow: hidden;
}

.our-team {
  background-color: #e7f1f8;
  padding: 127px 0;
}

.our-team__title {
  color: #3c4761;
}

.our-team__tagline {
  font-size: 18.58px;
  letter-spacing: -0.5px;
  margin-bottom: 78px;
}

.our-team__crewman {
  flex: 0 1 23%;
  align-items: center;
  text-align: center;
}

.avatar {
  background-color: #878787;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.avatar img {
  max-width: 100%;
  max-height: 100%;
}

.our-team__subtitle {
  color: #27283d;
  font-size: 24px;
  margin-bottom: 15px;
}

.our-team__profession {
  color: #30bae7;
  font-size: 16px;
  margin-bottom: 27px;
}

.our-team__about-crewman {
  line-height: 2em;
  padding: 0 15px;
  margin-bottom: 30px;
  max-height: 300px;
  overflow-y: auto;
}
.our-team__about-crewman p {
  margin-bottom: 10px;
}
.our-team__about-crewman p:last-child {
  margin-bottom: 0;
}

.our-team__list-item {
  display: inline-block;
  margin-right: 12px;
}

.fab, .fas {
  display: inline-block;
  color: gray;
  font-size: 32px;
  border-radius: 50%;
}
.fab:hover, .fas:hover {
  color: blue;
}

.skills {
  padding: 117px 0;
  color: #3c4761;
}

.skills__tagline {
  margin-bottom: 75px;
}

.skills__flex-item {
  flex: 0 1 23%;
  align-self: center;
  padding: 0 10px;
}

.skills__percentage {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  padding: 70px 40px;
  margin-bottom: 27px;
}
.skills__percentage.skills__percentage-web-design {
  background: url("../img/skills/bg__web-design.png") 25px 16px no-repeat;
}
.skills__percentage.skills__percentage-html-css {
  background: url("../img/skills/bg__html-css.png") 25px 16px no-repeat;
}
.skills__percentage.skills__percentage-graphic-design {
  background: url("../img/skills/bg__graphic-design.png") 25px 16px no-repeat;
}
.skills__percentage.skills__percentage-ui-ux {
  background: url("../img/skills/bg__ui-ux.png") 25px 16px no-repeat;
}
.skills__percentage span {
  font-size: 32px;
}

.skills__name {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.portfolio {
  padding: 120px 0;
  background-color: #ffdd99;
  color: #393939;
  font-size: 18px;
}

.portfolio__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.portfolio__title::after {
  background-color: #e5c37f !important;
}

.portfolio__tagline {
  margin-bottom: 42px;
}

.portfolio__switch-buttons {
  display: flex;
  justify-content: center;
}

.portfolio__switch-item {
  display: inline-block;
  padding: 10px 25px;
  margin: 0 5px 62px;
  background-color: #ebc985;
  border-radius: 3px;
}
.portfolio__switch-item:hover {
  background-color: #fff;
}
.portfolio__switch-item button {
  background-color: transparent;
  text-transform: uppercase;
}

.portfolio__flex-row {
  margin-bottom: 85px;
}

.portfolio__flex-row_margin-bottom-x2 {
  margin-bottom: 170px;
}

.portfolio__flex-item {
  flex: 0 1 47%;
}
.portfolio__flex-item img {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 32px;
}

.portfolio__flex-title {
  text-align: center;
  text-transform: uppercase;
}

.portfolio__btn {
  text-align: center;
  color: #fff;
  font-weight: 600;
  padding: 20px 60px;
  background-color: #17c2a4;
  box-shadow: 0 5px 0 #14a58c;
}

.reviews {
  padding-top: 120px;
  background: #d74680;
  color: #fff;
}

.reviews__tagline {
  margin-bottom: 71px;
}

.client {
  flex: 0 1 46%;
  display: flex;
  margin-bottom: 147px;
}

.client__avatar {
  width: 100px;
  height: 100px;
}

.client__info {
  flex: 0 1 60%;
}

.client__review {
  font-size: 21px;
  font-style: italic;
  margin-bottom: 20px;
  line-height: 1.5;
}

.client__name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.client__profession {
  font-size: 18px;
  color: #ffdd99;
}

.contacts {
  padding-top: 120px;
  background-color: #3c5499;
}

.wrapper_860px {
  max-width: 860px;
  margin: 0 auto;
}

.contacts__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 0.75;
  letter-spacing: 4px;
  color: #fff;
}

.contacts__tagline {
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0.36px;
  color: #fff;
  margin-bottom: 76px;
}

.user-name, .user-mail {
  font-size: 18px;
  line-height: 1;
  color: #fff;
  display: inline-block;
  width: 47%;
  margin-bottom: 27px;
  height: 56px;
  font-size: 18px;
  color: #fff;
  background-color: #273a71;
  padding-left: 25px;
  text-transform: capitalize;
}

.user-name {
  margin-right: 46px;
}

.user-message {
  font-size: 18px;
  line-height: 1;
  color: #fff;
  display: block;
  width: 100%;
  min-height: 200px;
  margin-bottom: 59px;
  background-color: #273a71;
  padding: 24px 0 0 25px;
}

.user-name::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 1;
  color: #fff;
}

.user-name::-moz-placeholder {
  font-size: 18px;
  line-height: 1;
  color: #fff;
}

/* Firefox 19+ */
.user-name:-moz-placeholder {
  font-size: 18px;
  line-height: 1;
  color: #fff;
}

/* Firefox 18- */
.user-name:-ms-input-placeholder {
  font-size: 18px;
  line-height: 1;
  color: #fff;
}

.user-mail::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 1;
  color: #fff;
}

.user-mail::-moz-placeholder {
  font-size: 18px;
  line-height: 1;
  color: #fff;
}

/* Firefox 19+ */
.user-mail:-moz-placeholder {
  font-size: 18px;
  line-height: 1;
  color: #fff;
}

/* Firefox 18- */
.user-mail:-ms-input-placeholder {
  font-size: 18px;
  line-height: 1;
  color: #fff;
}

.user-message::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 1;
  color: #fff;
}

.user-message::-moz-placeholder {
  font-size: 18px;
  line-height: 1;
  color: #fff;
}

/* Firefox 19+ */
.user-message:-moz-placeholder {
  font-size: 18px;
  line-height: 1;
  color: #fff;
}

/* Firefox 18- */
.user-message:-ms-input-placeholder {
  font-size: 18px;
  line-height: 1;
  color: #fff;
}

.contacts__button {
  max-width: 300px;
  margin: 0 auto 143px;
}

.contacts__form button {
  font-size: 17.5px;
  font-weight: 600;
  line-height: 1.54;
  letter-spacing: 0.35px;
  color: #fff;
  background: #30bae7;
  padding: 28px 85px;
}