// ПОДКЛЮЧЕНИЕ ШРИФТОВ.------------НАЧАЛО
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400&display=swap");
// ПОДКЛЮЧЕНИЕ ШРИФТОВ.------------КОНЕЦ
// ДОБАВЛЕНИЕ ОБНУЛЯЮЩИХ СТИЛЕЙ.---НАЧАЛО
@import "null";
// ДОБАВЛЕНИЕ ОБНУЛЯЮЩИХ СТИЛЕЙ.---КОНЕЦ

//ПОДКЛЮЧЕНИЕ ДРУГИХ ФАЙЛОВ SCSS.--НАЧАЛО

//ПОДКЛЮЧЕНИЕ ДРУГИХ ФАЙЛОВ SCSS.--КОНЕЦ

///////////////////////////////////////////////////////////////////////
//НАЧАЛО СТИЛИЗАЦИИ КОНТЕНТА
///////////////////////////////////////////////////////////////////////

//ОБЩИЕ СТИЛИ . НАЧАЛО

body {
	font-family: "Titillium Web", sans-serif;
}

.btn {
	display:block;
	font-size: 18px;
	text-transform: uppercase;
	border-radius: 5px;
	max-width: 300px ;
	margin: 0 auto;
	padding: 29px 84px;
	transition-duration: 0.3s;
	&:active{
		box-shadow: none;
	}
}

//ОБЩИЕ СТИЛИ . НАЧАЛО
//КОНЕЙНЕР. НАЧАЛО
.wrapper {
	max-width: 1070px;
	margin: 0 auto;
	padding: 0 15px;
}
//КОНТЕЙНЕР . КОНЕЦ

//ШАПКА. НАЧАЛО
.header {
	background-color: #87509c;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 58px;	
	margin-bottom: 144px;
}
.logo {
	display: inline-block;
	width: 120px;
	height: 40px;
	background: url('../img/nav/logo.png')0 0 no-repeat;
}
.nav__list {
	display: flex;
}
.nav__item {
	margin-left: 4px ;
	&:last-child{
		margin-left: 0;
	}
}
.nav__link {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 17px;
	letter-spacing: 1.1px;
}
.header h1{
	color:#fff;
	font-size: 42.16px;
	text-align: center;
	letter-spacing: -.5px;
	margin-bottom: 55px;
}

.header__button{
	padding-bottom: 145px;
}

.header__btn {
	color:#fff;
	background-color: #eb7d4b;
	box-shadow:0 5px 0 #c86a40 ;
}
//ШАПКА. КОНЕЦ

//MAIN. НАЧАЛО

//MAIN. КОНЕЦ

//ПОДВАЛ. НАЧАЛО

//ПОДВАЛ.КОНЕЦ
