// ПОДКЛЮЧЕНИЕ ШРИФТОВ.------------НАЧАЛО
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400&display=swap");
// ПОДКЛЮЧЕНИЕ ШРИФТОВ.------------КОНЕЦ
// ДОБАВЛЕНИЕ ОБНУЛЯЮЩИХ СТИЛЕЙ.---НАЧАЛО
@import "null";
// ДОБАВЛЕНИЕ ОБНУЛЯЮЩИХ СТИЛЕЙ.---КОНЕЦ

//ПОДКЛЮЧЕНИЕ ДРУГИХ ФАЙЛОВ SCSS.--НАЧАЛО

//ПОДКЛЮЧЕНИЕ ДРУГИХ ФАЙЛОВ SCSS.--КОНЕЦ

///////////////////////////////////////////////////////////////////////
//НАЧАЛО СТИЛИЗАЦИИ КОНТЕНТА
///////////////////////////////////////////////////////////////////////

//ОБЩИЕ СТИЛИ . НАЧАЛО

body {
	font-family: "Titillium Web", sans-serif;
}

//ОБЩИЕ СТИЛИ . НАЧАЛО
//КОНЕЙНЕР. НАЧАЛО
.wrapper {
	min-width: 1070px;
	margin: 0 auto;
	padding: 0 15px;
}
//КОНТЕЙНЕР . КОНЕЦ

//ШАПКА. НАЧАЛО

//ШАПКА. КОНЕЦ

//MAIN. НАЧАЛО

//MAIN. КОНЕЦ

//ПОДВАЛ. НАЧАЛО

//ПОДВАЛ.КОНЕЦ
