// ПОДКЛЮЧЕНИЕ ШРИФТОВ.------------НАЧАЛО



// ПОДКЛЮЧЕНИЕ ШРИФТОВ.------------КОНЕЦ
// ДОБАВЛЕНИЕ ОБНУЛЯЮЩИХ СТИЛЕЙ.---НАЧАЛО
@import "null";
// ДОБАВЛЕНИЕ ОБНУЛЯЮЩИХ СТИЛЕЙ.---КОНЕЦ

//ПОДКЛЮЧЕНИЕ ДРУГИХ ФАЙЛОВ SCSS.--НАЧАЛО



//ПОДКЛЮЧЕНИЕ ДРУГИХ ФАЙЛОВ SCSS.--КОНЕЦ



///////////////////////////////////////////////////////////////////////
//НАЧАЛО СТИЛИЗАЦИИ КОНТЕНТА
///////////////////////////////////////////////////////////////////////

//ОБЩИЕ СТИЛИ . НАЧАЛО




//ОБЩИЕ СТИЛИ . НАЧАЛО


//КОНЕЙНЕР. НАЧАЛО
.wrapper{
    max-width: ;
    margin: 0 auto;
    padding: 0 15px; 
}
//КОНТЕЙНЕР . КОНЕЦ

//ШАПКА. НАЧАЛО

//ШАПКА. КОНЕЦ

//MAIN. НАЧАЛО

//MAIN. КОНЕЦ

//ПОДВАЛ. НАЧАЛО

//ПОДВАЛ.КОНЕЦ
